:root {
  font-family: cursive, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  color: black;
  background-color: #9bc2bb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  max-width: 1400px;
  /* min-height: 100vh; */
}